* {
  font-family: sans-serif; /* Change your font family */
}
.App {
  text-align: center;
}

.summary-table-div {
  padding: 10px;
  max-width: 50em;
}
.foot {
  position: fixed;
  bottom: 0;
  width: 100%;
  line-height: 40px;
}
.rundown {
  padding: 10px;
}
