<html>

<head>
    <title>{{ title }}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <h1>Status</h1>
    <div id="status-container">
        <div id="status-dynamic">
            'results' length: {{ resultsrows }} rows <br>
            'spreads' length: {{ spreadsrows }} rows <br>
            'summary' length: {{ summaryrows }} rows <br>
            db Size: {{ dbsize }} <br>
            uptime: {{ uptime }} <br>
            current task: {{ current }} <br>
        </div>
    </div>
</body>

<script src="/static/js/handlers.js" charset="utf-8"></script>

</html>